
.icon-scroll {
    opacity: 0.7;
}
.scroll-to-second-section:hover .icon-scroll {
    opacity: 1;
}

.ScrollIcon-module--iconScroll--8bfd3 .icon-scroll span {
    animation: scroll 3s ease infinite;
    border-radius: 100%;
    display: block;
    /* height: .5rem; */
    /* margin: .5rem auto; */
    width: 0.125rem;
    
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        opacity: 1;
    }

    50% {
        transform: translateY(0.75rem);
    }

    70% {
        opacity: 1;
    }

    to {
        transform: translateY(0);
    }
}
