
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-10%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-10%); }
  100% { transform: translateX(100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 35s linear infinite;
}

.animate-marquee-reverse {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-reverse 35s linear infinite;
}
