#wiggleBlock{
   animation: wiggle 0.4s 0s linear infinite none running;
   transition: all 0.5s ease-in-out;
}

#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    content:' ';
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 39;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='lime' stroke-width='3' stroke-dasharray='1%2c45' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
    animation: spin 30s linear infinite;
}
@media (min-width: 1440px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    height: 220px;
    width: 220px;
}}

@media (max-width: 1440px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    height: 172px;
    width: 172px;
}}
@media (max-width: 768px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    height: 140px;
    width: 140px;
}}

#wiggleBlock:nth-of-type(6){
     animation-direction: reverse;
}
#wiggleBlock:nth-of-type(8){
     animation-direction: reverse;
}
#wiggleBlock:nth-of-type(10){
     animation-direction: reverse;
}

@keyframes spin { 
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes wiggle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
    50% {

  }
  75% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}


