#bubbles{
  -webkit-box-shadow: inset -13px -18px 18px 5px rgb(110, 139, 22);
  -moz-box-shadow: inset -13px -18px 18px 5px rgba(110, 139, 22);
  box-shadow: inset -13px -18px 18px 5px rgb(110, 139, 22);
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(195,255,10,1) 0%, rgba(195,255,10,1) 40%, rgba(210, 246, 102, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(195,255,10,1) 0%,rgba(195,255,10,1) 40%,rgba(210, 246, 102, 1) 100%);
  background: radial-gradient(ellipse at center,  rgba(195,255,10,1) 0%,rgba(195,255,10,1) 40%,rgb(210, 246, 102, 1) 100%);
  pointer-events: auto;
}
#bubbles::after{
content: "";
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(195, 255, 10, 1) 50%, rgba(255, 255, 255, 0) 100%);
    width: 60%;
    height: 20%;
    top: 20%;
    right: 35%;
    border-radius: 50%;
    transform: rotateY(70deg) rotateX(50deg) skew(10deg);
    opacity: 0.8;
    box-shadow: 0 0 5px 10px rgba(195, 255, 10, 1);
}
#bubbles::before{
    content: "";
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(195, 255, 10, 1) 50%, rgba(255, 255, 255, 0) 100%);
    width: 54%;
    height: 30%;
    top: 29%;
    right: 21%;
    border-radius: 50%;
    transform: rotateY(70deg) rotateX(50deg) skew(10deg);
    opacity: 0.8;
    box-shadow: 0 0 4px 0px rgba(195, 255, 10, 1);
}

#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    content:' ';
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 39;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='lime' stroke-width='3' stroke-dasharray='1%2c45' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
    animation: spin 30s linear infinite;
}
@media (min-width: 1440px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
  animation-direction: reverse;
    height: 220px;
    width: 220px;
}}

@media (max-width: 1440px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    height: 172px;
    width: 172px;
    animation-direction: reverse;
}}
@media (max-width: 768px) {
#wiggleBlock:nth-of-type(6)::before,
#wiggleBlock:nth-of-type(8)::before,
#wiggleBlock:nth-of-type(10)::before{
    height: 140px;
    width: 140px;
    animation-direction: reverse;
}}

@keyframes spin { 
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes wiggle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
    50% {

  }
  75% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}


