.marquee {
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  background-color: #000;
  padding: 10px 0;
  font-size: 2rem;
}

.marquee-content {
  display: flex;
  align-items: center;
  text-align: center;
  /* display: inline-block;
  white-space: nowrap; */
}

.marque-item {
  font-size: 70px;
  text-transform: uppercase;
  word-spacing: 10px;
  color: #a1a1a1;
  font-weight: 300;
  position: relative;
}
.marque-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: url("../../../../../public/assets/images/HomeImg/background.png") center no-repeat;
}

Marquee {
  position: relative;
}

.line-dekor {
  position: absolute;
  top: 15%;
  left: 50%;
  height: 10px; /* Тонка лінія */
  width: 50px; /* Довжина лінії */
  /* background-color: yellow; Колір лінії */
  background: url("../../../../../public/assets/images/HomeImg/line.svg") center no-repeat;
  transform: translateY(-50%); /* Центрування по вертикалі */
  animation: blink 2s infinite; /* Анімація для ефекту */
}
.line-dekor_2 {
  top: auto;
  bottom: 0;
  left: 50%; /* Залишаємо посередині */
  transform: translateX(-50%); /* Вирівнюємо по центру по горизонталі */
}




@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 45s linear infinite;
}

.animate-marquee-reverse {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-reverse 50s linear infinite;
}

