.olga #stroke {
  
}

.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: flex;
  will-change: transform; /* Оптимізація для плавної анімації */
}

.images {
  flex-shrink: 0;
}

#stroke {
  -webkit-text-fill-color: black !important;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}
