
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotate {
    animation: rotate 15s linear infinite;
}

/* Анімація для зображення еліпса */
.ellipse-animation {
    animation: drawEllipse 9s ease-in-out forwards;
    clip-path: inset(0 100% 0 0); /* Приховуємо праву частину */
}

@keyframes drawEllipse {
    from {
        clip-path: inset(0 100% 0 0); /* Весь еліпс прихований */
    }
    to {
        clip-path: inset(0 0 0 0); /* Весь еліпс видимий */
    }
}

.text-animation {
    opacity: 0; /* Спочатку текст невидимий */
    transform: translateY(20px); /* Зсув тексту вниз */
    animation: fadeIn 15s ease forwards; /* Запуск анімації */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Невидимий */
        transform: translateY(20px); /* Зсув вниз */
    }
    to {
        opacity: 1; /* Видимий */
        transform: translateY(0); /* Повернення на місце */
    }
}
