.orbit {
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    width: 18vw;
    min-width: 145px;
    max-width: 400px;
    display: flex;
    position: relative;
}
.orbit-circle.small-orbit._1 {
    transform: rotate3d(1, 1, 1, 90deg);
}
.orbit-circle.small-orbit._2 {
    transform: rotate3d(1, 2, 0.5, 90deg);
}
.orbit-circle.small-orbit._3 {
    transform: rotate3d(0.5, 1, 2, 90deg);
}
.orbit-circle {
    aspect-ratio: 1;
    box-shadow: inset 0 0 8px 0 #fff;
    border-radius: 50%;
    width: 280px;
    box-shadow: inset 0 0 20px 0;
    position: absolute;
}
.orbit-circle.big-orbit {
    transform-style: preserve-3d;
    animation: 4s linear 0.2s infinite rotate3d;
}
.orbit-circle.middle-orbit {
    box-shadow: inset 0 0 30px 0;
    opacity: 0.65;
    transform-style: preserve-3d;
    width: 220px;
    animation: 3s linear infinite rotate3d;
}
.orbit-circle.middle-orbit-2 {
    transform-style: preserve-3d;
    width: 45%;
    height: 85px;
    animation: 7s linear infinite rotate3d;
    /* border-style: dashed; */
    border-width: 2px;
    border-color: #d3fd50;
    box-shadow: none;
}
.orbit-circle.small-orbit {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #cecece;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #cecece;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cecece;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #cecece;
    box-shadow: none;
    transform-style: preserve-3d;
    width: 25%;
    animation: 15s linear 0.2s infinite rotate3d;
}
.orbit-circle.small-orbit._1 {
    transform: rotate3d(1, 1, 1, 90deg);
}
.orbit-circle.small-orbit._2 {
    transform: rotate3d(1, 2, 0.5, 90deg);
}
.orbit-circle.small-orbit._3,
.orbit-circle.small-orbit._4 {
    transform: rotate3d(0.5, 1, 2, 90deg);
}
.orbit-circle.small-orbit._4{
    border-color: #d3fd50;
    transform: rotate3d(2, 3, 2, 140deg);
}
@keyframes rotate3d {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
