/* ImageStyles.module.css */
@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Збільшення на 20% */
  }
  100% {
    transform: scale(1); /* Повернення до початкового розміру */
  }
}

.image {
  width: 70%; /* Використовуємо такий самий стиль, як у класі Tailwind */
  z-index: 10;
  animation: scaleUpDown 2s ease-in-out infinite; /* Додаємо анімацію */
}
