.preloader {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden !important;
}

.circular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Займає всю висоту екрану */
  background-color: #000; /* Чорний фон */
  position: relative; /* Для позиціонування тексту по колу */
}

.circular-text {
  position: absolute;
  width: 300px; /* Розмір кола */
  height: 300px; /* Розмір кола */
  border-radius: 50%; /* Робимо коло */
}

.circular-text span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Розмір шрифту */
  color: #fff; /* Колір тексту */
  transform-origin: center; /* Центр обертання */
}

