.marquee {
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  background-color: #000;
  padding: 10px 0;
  font-size: 2rem;
}

.marquee-content {
  display: flex;
  align-items: center;
  text-align: center;
  /* display: inline-block;
  white-space: nowrap; */
}

.marque-item {
  font-size: 40px;
  text-transform: uppercase;
  word-spacing: 10px;
  color: #a1a1a1;
  font-weight: 300;
  position: relative;
}
.marque-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: url("../../../public/assets/images/HomeImg/background.png") center no-repeat;
}

.relative {
  position: relative;
}

.absolute-highlight {
  position: absolute;
  top: 0%; /* Встановіть бажану позицію */
  left: 0%; /* Встановіть бажану позицію */
  /* transform: translate(-50%, -50%); Центрування по осі X і Y */
  color: red;
  width: 50px;
  height: 1px;
  font-size: 24px;
  font-weight: bold;
  background-color: yellow;
  border-radius: 2px;
}
