.marquee {
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  font-size: 2rem;
}

.marquee-content {
    display: flex;
    align-items: center;
    text-align: center;
  /* display: inline-block;
  white-space: nowrap; */
}
