/* Стилі для контейнера слідів */
.mouse-trail-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Сховати сліди, що виходять за межі */
  }
  
  /* Стилі для слідів */
  .dot {
    position: absolute;
    width: 10px; /* Розмір сліду */
    height: 10px; /* Розмір сліду */
    background-color: rgb(52, 152, 219); /* Яскравий колір сліду */
    border-radius: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Анімація */
    pointer-events: none; /* Вимкнення взаємодії з курсором */
  }
  