/* #tags{ */
    /* transform:translate3d(0px, 0%, 0px); */
    /* transform-style:preserve-3d; */
/* } */

#tagGroup{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position:absolute;
    will-change: transform;
    transform-style:preserve-3d;
    /* inset:0% 0% auto; */
}

.moveX{
   animation-name: moveXanimation;
   animation-timing-function: ease-in-out;
   animation-composition: add;
   animation-iteration-count: infinite;
   /* animation-play-state: running; */
   animation-duration: 4s;
   /* transition: all 0.5s ease-in; */
}
@keyframes moveXanimation {
  0% {
    transform: translate3d(0%, 0%, 0px);
  }
  40% {
    transform: translate3d(-7.8362%, 0%, 0px);
  }
  100% {
    transform: translate3d(0%, 0%, 0px);
  }
}
.moveY{
   animation-name: moveYanimation;
   animation-timing-function: ease-in-out;
   animation-composition: add;
   animation-iteration-count: infinite;
   /* animation-play-state: running; */
   animation-duration: 4s;
   /* transition: all 0.5s ease-in; */
}
@keyframes moveYanimation {
  0% {
    transform: translate3d(0%, 0%, 0px);
  }
  40% {
    transform: translate3d(0%, 7%, 0px);
  }
  100% {
    transform: translate3d(0%, 0%, 0px);
  }
}


/* #tagGroup1_1{
    inset:0% auto auto 1.53rem;
}
#tagGroup1_2{
    inset:1.2rem auto auto 1rem;
}
#tagGroup1_3{
    inset:.2rem 1.12rem auto auto;
}
#tagGroup2_1{
    inset:1rem auto auto 1.32rem;
}
#tagGroup2_2{
    inset:.7rem 1.22rem auto auto;
}
#tagGroup3_3{
    inset:.5rem auto auto .86rem;
} */
