.gradient1 {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    transparent 50%,
    transparent 100%
  );
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 20;
  height: 200%;
  width: 20rem;
  transform: translateY(-50%);
  opacity: 0.5;
  mask-image: radial-gradient(100px at left, white, transparent);
  -webkit-mask-image: radial-gradient(100px at left, white, transparent);
}

.gradient2 {
  background: linear-gradient(
    to right,
    #f7f8f8 0%,
    transparent 50%,
    transparent 100%
  );
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 10;
  height: 50%;
  width: 2.5rem;
  transform: translateY(-50%);
  opacity: 1;
  mask-image: radial-gradient(50px at left, white, transparent);
  -webkit-mask-image: radial-gradient(50px at left, white, transparent);
}

.sparklesContainer {
  position: absolute;
  right: -2.5rem;
  top: 50%;
  height: 75%;
  width: 2.5rem;
  transform: translateY(-50%);
  mask-image: radial-gradient(100px at left, white, transparent);
  -webkit-mask-image: radial-gradient(100px at left, white, transparent);
}

.gradient1L {
  background: linear-gradient(
    to left,
    #ffffff 0%,
    transparent 50%,
    transparent 100%
  );
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 20;
  height: 200%;
  width: 20rem;
  transform: translateY(-50%);
  opacity: 0.5;
  mask-image: radial-gradient(100px at right, white, transparent);
  -webkit-mask-image: radial-gradient(100px at right, white, transparent);
}

.gradient2L {
  background: linear-gradient(
    to left,
    #f7f8f8 0%,
    transparent 50%,
    transparent 100%
  );
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  height: 50%;
  width: 2.5rem;
  transform: translateY(-50%);
  opacity: 1;
  mask-image: radial-gradient(50px at right, white, transparent);
  -webkit-mask-image: radial-gradient(50px at right, white, transparent);
}

.sparklesContainerL {
  position: absolute;
  left: -2.5rem;
  top: 50%;
  height: 75%;
  width: 2.5rem;
  transform: translateY(-50%);
  mask-image: radial-gradient(100px at right, white, transparent);
  -webkit-mask-image: radial-gradient(100px at right, white, transparent);
}
