/* Контейнер слайдера */
.slider-container {
  padding: 20px -50px;
  position: relative;
  max-width: 100%;
}

/* Кастомні стрілки */
.custom-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: #ffffff;
  color: #000000;
  border: 2px solid #8f8ded;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.custom-nav-btn:hover {
  background: #8f8ded;
  color: #ffffff;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
}

/* Кастомна пагінація */
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.custom-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  /* opacity: 0.6; */
  cursor: pointer;
  transition: all 0.3s;
}

.custom-bullet-active {
  background-color: #ffffff;
  opacity: 1;
  transform: scale(1.2);
}
.swiper-slide-active .slide-header,
.swiper-slide-active .slide-content {
  background-color: #fff;
}
.swiper-slide-active .slide-header h3 {
  color: #363535;
}

.swiper-slide-active .slide-header span {
  color: #b80e16;
}
.swiper-slide-active .slide-header {
  border-bottom: 2px solid #000;
}

.swiper-slide-active .icon {
  fill: #bcbbf9;
  transition: fill 0.3s ease 0s;
}
.swiper-slide-active .icon path {
  fill: #000;
  transition: fill 0.3s ease 0s;
}
.swiper-slide-active .icon .bg {
  fill: #fff;
  transition: fill 0.3s ease 0s;
}
.swiper-slide-active .slide-header .lit1 {
  color: #533ba3;
  transition: color 0.3s ease 0s;
}
.swiper-slide-active .slide-header .lit2 {
  color: #fda800;
  transition: color 0.3s ease 0s;
}
.swiper-slide-active .slide-header .lit3 {
  color: #fe2e05;
  transition: color 0.3s ease 0s;
}
.swiper-slide-active .slide-header .lit4 {
  color: #ffe332;
  transition: color 0.3s ease 0s;
}
.swiper-slide img{
    width: 100%;
    transition: .7s all ease-in-out;
    filter: grayscale(100%);
}
.swiper-slide-active img {
  filter: none;
}
