#snowflakes::after{
    content: '';
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: -10;
}

@media (min-width: 1440px) {
#snowflakes::after{
    top: 1484px;
    height: 742px;
}}

@media (min-width: 768px) {
#snowflakes::after{
    top: 1848px;
    height: 924px;
}}

@media (min-width: 375px) {
#snowflakes::after{
    top: 1484px;
    height: 742px;
}}

#snowflakes::before{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
   background: linear-gradient(black, transparent);
}
#bottomShadow::after{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 1;
    height: 80px;
   background: linear-gradient(transparent, black);
}

@media (min-width: 375px) {
#snowflakes::before{
    top: 54px;
}}
@media (min-width: 768px) {
#snowflakes::before{
    top: 0;
}}
