.button {
  border: 1px solid var(--olga-light-grey);
  border-radius: 80px;
  padding: 10px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 4px 0 rgba(88, 88, 88, 0.25);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 76.265549659729%,
    rgb(135, 131, 131) 100%
  );
}

.button:hover {
  box-shadow: 0 4px 4px 0 rgba(88, 88, 88, 0.25);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(38, 38, 38) 76.265549659729%,
    rgb(135, 131, 131) 100%
  );
}
