.containerLiquid {
  filter: url(#liquid);
}

.circle {
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  inset: -20px;
  border-radius: 50%;
  filter: blur(20px);
}

.circle1::before {
  background-color: #6b6a6a;
}
.circle2::before {
  background-color: #6b6a6a;
}
