.containerLiquid {
  filter: url(#liquid);
}

.circle {
  border: 2px;
  border-color: beige;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  inset: -20px;
  border-radius: 50%;
  filter: blur(20px);
}

.circle1::before {
  background-color: #5c2222;
}
.circle2::before {
  background-color: #5c2222;
}
